body{
    display: flex;
margin-left: 30%;
    background-color: green;
}
option{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: smaller;
    font-weight: 100;
}
select:hover{
    transform: scale(1, 2);
}
button{
    background-color: grey;
    color: white;
}
button:hover{
    background-color: black;
}